*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
    color:  rgb(63, 1, 1);
}
nav{
    width: 120%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 1, 1);
    padding: 0 20px;
}
nav img{
    width: 60px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
}
ul .home{
    display: flex;
    flex-direction: column;
}
.home span{
    margin-bottom: 10px;
    color: pink;
}
.home a{
    margin-top: 30px;
}
nav a{
    color: rgb(235, 116, 136);
    text-decoration: none;
    margin-right: 50px;
} 
.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    color:  rgb(63, 1, 1);
}
.hero img{
    width: 400px;
}
.hero h1{
    margin-bottom: 10px;
}
.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.btn{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: pink;
    color:  rgb(63, 1, 1);
    text-decoration: none;
}
.btn:hover{
    background-color: rgba(255, 192, 203, 0.456);
    transition: 0.9s;

}
#about{
    height: 60vh;
    margin-top: 100px;
}
.feat{
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}
.menu{
    display: flex;
    flex-direction: column;
}
.images{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 10px;
}
.images img{
    border-radius: 10px;
}
#more-img{
    display: none;
}
#more-img.show{
    display: flex;
    flex-direction: column;
}
.feat .btn{ 
     margin-top: 50px; 
     display: inline-block;
     
}
 .img{
    /* width: 35%; */
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
    border: pink;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
 .img:hover{
    padding: 1px;
    transition: 0.8s;
}
.hero{
    margin-top: 30px;
}
.hero h2{
   max-width: 550px;
}
.hero .btn{
    margin-top: 10px;
    display: inline-block;
}
#us{
    padding: 20px;
    margin-top: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.us{
    padding: 20px;
}
.us li{
    color: rgb(246, 120, 141);
    box-shadow: 0 0 10px;
    width: 400px;
    margin-top: 20px;
    list-style: none;
}
.us li:hover{
    padding: 5px;
    transition: 0.8s;
}
#more{
    display: none;
}
#call{
    margin-top: 100px;
    padding: 20px;
}
#call .btn{
    display: inline-block;
    margin-top: 30px;
}
footer{  
      background-color: rgb(48, 1, 1);
      padding:20px ;
      color: beige;
      width: 100%;
}
@media(min-width:768px){
    nav{
        width: 100%;
    }
    .hero{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .img{
        width: 30%;
    }
    #more-img.show{
        display: flex;
        flex-direction: row;
        justify-content: center;

        flex-wrap: wrap;
    }
    #about{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50vh;
    }
    #about img{
        margin-left: 100px;
    }
    #us{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         height: 40vh;
    }
    footer{
        width:120%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
}
